{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
      "test": {
        "plugins": ["istanbul"]
      }
    }
}